body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
}

div, button, input, p {
    box-sizing: border-box;
    margin: 0;
}

.wrap {
    overflow: hidden;
    width: 200px;
    border-radius: 4px;
}

.autoplay-control {
    background: #666;
    height: 30px;
    padding-left: 10px;
    font-weight: bold;
    line-height: 30px;
    color: #FFF;
}

#autoplay {
    margin-right: 5px;
}

.time-control {
    display: table;
    width: 100%;
    height: 36px;
    padding: 0 10px;
    background: #EEE;
}

.play-control::after {
    content: '';
    display: block;
    clear: both;
}

#duration {
    width: 75px;
    height: 36px;
    padding-left: 10px;
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
}

#duration:hover, #duration:focus {
    background: #f4f4f4;
}

.time-control label {
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

.time-control span {
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid #ddd;
}

.btn {
    float: left;
    width: 50%;
    height: 36px;
    background: #9C9;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFF;
    text-shadow: 0 1px 3px #444;
}

.btn:hover {
    background: #a8d4a8;
}

.btn:active {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .2);
}

#start[disabled], #next[disabled] {
    background: #ccc;
}

#start::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid #FFF;
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    margin-right: 5px;
}

footer p {
    width: 200px;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    text-align: center;
}

footer p::before {
    content: '!';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    border: 1px solid #999;
    border-radius: 12px;
    line-height: 14px;
}
